---
---

<!doctype html>
<html>

<head>
  <title>Baby Steps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/{{ site.feed.path }}"
    title="Baby Steps RSS Feed" />
</head>

<body>
  <div class="flex_wrapper">
    <div class="sidenav">
      {% include sidenav.html %}
    </div>
    <section class="content_body">
      {{ content }}
    </section>

  </div>
</body>

</html>