<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{ if eq .Title .Site.Title }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} · {{ .Site.Title }}</title>
  {{ end }}

  {{ $mainStyles := resources.Get "scss/main.scss" | toCSS | fingerprint }}
  <link rel="stylesheet" href="{{ $mainStyles.Permalink }}" integrity="{{ $mainStyles.Data.Integrity }}" />

  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

</head>

<body>
  <nav>
    <div class="content">
      <div class="img-container">
        <h1 class="title">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
      </div>

      <p class="description">{{ .Site.Params.description }}</p>

      <ul class="links">
        {{ range where .Site.Pages "Type" "main" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        <li><a href="{{ .Site.BaseURL }}/categories">Categories</a></li>
        <li><a href="https://github.com/nikomatsakis">GitHub</a></li>
        <li><a href="https://twitter.com/nikomatsakis">Twitter</a></li>
        <li><a href="{{ .Site.BaseURL }}/index.xml">RSS</a>/<a href="{{ .Site.BaseURL }}/atom.xml">Atom</a> feeds</li>
      </ul>

      <p class="description">Selected posts:</p>

      <ul class="links">
        {{ range .Site.Taxonomies.pinned.yes.Pages.ByWeight }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </nav>

  <main>
    <div class="content">
      {{ block "body" . }}
      {{ end }}
    </div>
  </main>

  {{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}

  {{ if .Page.Store.Get "hasDada" }}
  <script src="{{ .Site.BaseURL }}/js/dada-highlight.js"></script>
  {{ end }}

</body>

</html>